.places {
    max-width: 984px;
    margin: 98px auto 0 auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
   .places {
       width: 91vw;
   }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        width: 94vw;
    }
} 

@media screen and (max-width: 767px) {
    .places {
        width: 100vw;
    }
} 
